@import '../../assets/globalStyles/styles.scss';

.toroto-map{
    position: relative;
    top: 0;
    right: 0;
    left: 0;  
}

.toroto-header{
    position: absolute;
    width: 16rem;
    top: 35%;
    left: 5rem;
    display: flex;
    flex-direction: column;
    color: $toroto-black;
    button{
        border-radius: 5px;
        border: none;
        background-color:$toroto-black;
        border: solid 2px $toroto-black;
        color: white;
        font-size: small;
        padding: .5rem .5rem;
        
        &:hover{
            background-color: $toroto-gray;
            color: $toroto-black;
        }

    }
}

.see-projects{
    position: absolute;
    bottom: 2rem;
    left: 40%;
    display: flex;
    flex-direction: column;
    
        
        .arrow-desktop{
            height: 45px;
            
        }

    
   
}

.marker-btn{
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: $toroto-black;
}
 
.popup-project{
    width:  19rem;
  
    .place-card{
        border-radius: 10px;
        overflow: hidden;
        .card-img-top{
            height: 85px;
            object-fit: cover;
            object-position: center;
           
        }
        .place-body{
            padding: 8px;
            .project-text{
                font-size: 14px;
                margin-bottom: 0px;
            }

        }
       

    }
   
}

.mapboxgl-popup{
    
    .mapboxgl-popup-content{
        padding: 0;
        border-radius: 10px;
    }

}

   